header {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 4px 0px 12px $darkSecondaryColor;
  padding: 15px;
  margin-bottom: 40px;
  color: $tertiaryColor;

  h2 {
    font-size: 48px;
    padding: 50px 0;
    color: $darkSecondaryColor;
  }
}
