$darkPrimaryColor: #212121;
$lightPrimaryColor: #323232;
$darkSecondaryColor: #0a5457;
$lightSecondaryColor: #14ffec;
$tertiaryColor: #fff;

@import '_header.scss';
@import '_users.scss';
@import '_statistics.scss';
@import '_input.scss';

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  color: $tertiaryColor;
  background-color: $darkPrimaryColor;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

#search-section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 100px;
  max-width: 100%;
}
